# Data files (too large for git)
data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.envrc

# pytype / mypy / ruff
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/

# VS Code
# .vscode/

# Streamlit
.streamlit/secrets.toml

# Power BI cache
*.pbix.bak
